<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<h3>Add User</h3>

<form action="addUser" method="post">
    Username: <input type="text" name="name" />
    <span th:errors="${user.name}" style="color:red"></span><br />
    Password: <input type="password" name="password"/><br />
    <span th:errors="${user.password}" style="color:red"></span><br />
    Grade: <input type="text" name="grade" /><br />
    <input type="submit" value="Add" >
</form>
</body>
</html>